<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="LogFileDirectory" value="logs" />
    <add key="LogFileName" value="MSPLog_" />
    <add key="LogDateFormat" value="yyyyMMdd" />
    <add key="OutputTemplateFormat" value="{Timestamp:yyyy-MM-dd HH:mm:ss.fff} [{Level:u3}] {Message:lj}{NewLine}{Exception}" />
  </appSettings>
</configuration>